body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

:root {
  font-size: 100px;
  font-size: 16px;
  line-height: 1.5;
  --primary-blue:#233975;
}

/* Navbar */
header {
  padding: 0 20px;
  background-color: black;
  height: 150px;
  display: flex;
  justify-content: space-between;
}

header a {
  text-decoration: none;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: white;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover{
  transform: scale(1.1);
  transition: 0.3s;
}

#register, 
#login {
  border-radius: 5px;
  padding: 5px 8px;
}

#hamburger-icon {
  margin: auto 0;
  display: block;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  position: absolute;
  top: 80px;
  right: 0px;
  height: calc(100vh - 50px);
  padding: 1rem;
  display: none;
  background-color: black;
  z-index: 1000;
}

.mobile-menu li {
  margin-bottom: 10px;
}

/* Media Queries for Navbar */
@media only screen and (max-width: 750px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}

main {
  flex-grow: 1;
}

/* Footer */
footer {
  background: black;
  height: auto;
  width: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  color: #ffff;
}

.logo {
  width: 150px;
  height: 150px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: row;
}

.footer-content P {
  max-width: 350px;
  margin: 0px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #ffff;
}

.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background: #000;
  width: 100%;
  padding: 5px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

/* Home page */
.wallpaper {
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.flashes h1 {
  display: flex;
  justify-content: center;
  line-height: 2;
}

.welcome-text p {
  bottom: 190px;
}

.button {
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  cursor: pointer;
}

/* Book Card Section */
.book-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
}

.book-details {
  padding: 1rem;
}

.book-details > h5 > a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.6rem;
  background-color: #ffc107;
  color: black;
}

/* Login Page */
#login-page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.login-main-container{
  width: 100%;
  flex-grow: 2;
  padding:50px 0 50px 0;
}

.login{
  background: black;
  color: #ffffff;
  width: clamp(300px, 90%, 600px);
  margin: 10px auto;
  box-sizing: border-box;
  padding: 50px 30px;
}

.login h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.login input  {
  width: 100%;
  margin-bottom: 20px;
}

.login input[type="text"],
.login input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  background: red;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.login a{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgray;
}

.login a:hover {
  color: #ffc107;
}

/* Registeration page */
.copy h1 {
  font-size: 2.25rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  color: #fff;
}

.copy h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.login-container a {
  text-decoration: none;
  color: var(--primary-blue);
}

.login-container a:hover {
  text-decoration: underline;
}

.small {
  font-size:80%;
  text-align: center;
}

.split-screen {
  display: flex;
  flex-direction: column;
}

.left {
  height:200px;
}

.left, .right {
  display:flex;
  justify-content: center;
  align-items: center;
}

.left {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1173&q=80);
  background-size: cover;
}

.right .copy {
  color: black;
  text-align: center;
}

.right .copy p {
  margin: 1.5em 0;
  font-size: 0.875rem;
}

.right form {
  width: 320px;
  height: 750px;
}

.input-container input[type="text"], .input-container input[type="email"], .input-container input[type="password"] {
  display:block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  padding: 1em;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
}

.input-container label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}

.input-container.password {
  position: relative;
}

.input-container.password i {
  position: absolute;
  top: 42px;
  right: 16px;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: none;
  height: 0;
  width: 0;
}

.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.checkbox-container input:checked~.checkmark {
  background-color: black;
  border: 1px solid black;
}
.checkmark {
  position: absolute;
  width: 24px;
  height: 24px;
  background: white;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  top: -4px;
  left: 18rem;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked~.checkmark::after {
  display: block;
}

.checkbox-container .checkmark::after {
  border: solid white;
  border-width: 0 3px 3px 0;
  width: 5px;
  height: 10px;
  left: 8px;
  top: 4px;
  transform: rotate(45deg);
}

.signup-btn {
  display: block;
  width: 100%;
  background: red;
  color: white;
  font-weight: 700;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.signup-btn:hover {
  background: #ffc107;  
}


/* Add Book review */
.book-review-form {
  background: black;
  color: #ffffff;
  width: 50%;
  margin: 10px auto;
  box-sizing: border-box;
  padding: 50px 30px;
}

.book-review-form input[type="text"] {
  border: none;
  width: 100%;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 55px;
  color: #fff;
  font-size: 16px;
}

.submit {
  border: none;
  outline: none;
  height: 30px;
  width:24%;
  background: red;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  position: relative;
  left: 250px;
  top: 20px;
  padding: 10px;
}

/* Media Queries for Registration page */
@media screen and (max-width: 820px) {
 .book-container {
   display: grid;
   grid-template-columns: 50% 50%;
 }
}

@media screen and (max-width: 660px) {
 .book-container {
   display: grid;
   grid-template-columns: 100%;
 }
}

@media screen and (min-width: 750px) {
  .split-screen {
    flex-direction: row;
    height: 100vh;
  }

  #hamburger-icon {
    visibility: hidden;
  }

  .left, .right {
    display: flex;
    width: 50%;
    height: auto;
  }
}