{% extends "base.html" %}

{% block content %}
<div class="book-container">
  {% for b in books %}

  <div class="card">
    <img src=" {{ b.image_url }} ">
    <div class="bookdetails">
      <h3> Title: {{ b.book_title }}</h3>
      <h5> Author: {{ b.author }}</h5>
      <h5> Genre: {{ b.genre }}</h5>
      <h5> Year Released: {{ b.release_year }}</h5>
      <h5> Rating: {{ b.rating }}</h5>
      <h5> Review: {{ b.book_review }}</h5>
      <h5> Created by: {{ b.created_by }}</h5>
      <h5> <a href="{{ b.purchase_link }}"> Purchase Link </a></h5>
    </div>

  </div>
  {% endfor %}
</div>
{% endblock %}