{% extends "base.html" %}

{% block content %}
<div class="book-container">
    {% for book in books_variable %}
  
    <div class="card">
      <img src=" {{ book.image_url }} ">
  
      <div class="book-details">
        <h3> Title: {{- book.book_title -}}</h3>
        <h5> Author: {{- book.author -}}</h5>
        <h5> Genre: {{- book.genre -}}</h5>
        <h5> Year Released: {{- book.release_year -}}</h5>
        <h5> Rating: {{- book.rating -}}</h5>
        <h5> Review: {{- book.book_review -}}</h5>
        <h5> <a href="{{- book.purchase_link -}}"> Purchase Link </a></h5>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endblock %}