<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
  <title>Books</title>
</head>

<header>
  <div class="container">
    <!-- Nav Bar -->
    <nav>
      <img class="logo" src="{{url_for('static', filename='/images/Books.png')}}" alt="logo" />
      <ul>
        {% if session.user %}
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('account', email=session['user']) }}">My Account</a></li>
        <li><a href="{{ url_for('add_book') }}">Add Book Review</a></li>
        <li><a href="{{ url_for('logout') }}">Log Out</a>
          {% else %}
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('register') }}">Register</a></li>
        <li><a href="{{ url_for('login') }}">Log in</a></li>
        </li>
        {% endif %}
      </ul>
    </nav>

    <section>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for msg in messages %}
      <div class="flashes">
        <h1> {{msg}} </h1>
      </div>
      {% endfor %}
      {%endif %}
      {% endwith %}
    </section>

    <main class="main-container">
      {% block content %} {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
      <div class="footer-content">
        <img class="logo" src="{{url_for('static', filename='/images/Books.png')}}" alt="logo" />
        <p>
          Welcome to Books! The site where you can share reviews of your
          favourite books with other fellow readers
        </p>
        <ul class="socials">
          <li>
            <a href="#"> <i class="fab fa-facebook"></i> </a>
          </li>
          <li>
            <a href="#"> <i class="fab fa-snapchat"></i> </a>
          </li>
          <li>
            <a href="#"> <i class="fab fa-instagram"></i> </a>
          </li>
          <li>
            <a href="#"> <i class="fab fa-twitter"></i> </a>
          </li>
        </ul>
      </div>

      <div class="footer-bottom">
        <p>Copyright <i class="far fa-copyright"></i></p>
      </div>
    </footer>
  </div>
</header>

</html>