<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <title>Books</title>
  </head>

  <body>
    <div class="container">
      <!-- Nav Bar -->
      <nav>
        <img
          class="logo"
          src="static/images/Books.png"
          alt="main book wallpaper"
        />

        <ul>
         <li><a href="{{ url_for('home') }}">Home</a><li>
         <li><a href="{{ url_for('login') }}">Login</a><li>
         <li><a href="{{ url_for('register') }}">Register</a><li>
        </ul>
      </nav>
      {% block content %} {% endblock %}

      <!-- Footer -->
      <footer>
        <div class="footer-content">
          <img class="logo" src="/static/images/Books.png" alt="logo" /> 
          <p>
            Welcome to Books! The site where you can share reviews of your
            favourite books with other fellow readers
          </p>          
          <ul class="socials">
            <li>
              <a href="#"> <i class="fab fa-facebook"></i> </a>
            </li>
            <li>
              <a href="#"> <i class="fab fa-snapchat"></i> </a>
            </li>
            <li>
              <a href="#"> <i class="fab fa-instagram"></i> </a>
            </li>
            <li>
              <a href="#"> <i class="fab fa-twitter"></i> </a>
            </li>
          </ul>
        </div>

        <div class="footer-bottom">
          <p>Copyright <i class="far fa-copyright"></i></p>
        </div>
      </footer>
    </div>
  </body>
</html>
