{% extends "base.html" %}
{% block content %}


<div class="bg-wallpaper">
  <img class="wallpaper" src="{{url_for('static', filename='/images/wallpaper.jpg')}}" alt="wallpaper" />
</div>

<div class="book-main">
  <h1>Books</h1>
  <p>Welcome to Books! The site where you can share reviews of your favourite books with other avid readers. On our
    site, you can read reviews created by people who have read them independently; no paid reviews will ever be on our
    site.

    Feel free to take a look around, and if you like what you see, why not register and share your own reviews?

    Register here! Already a member? Log In here!

    Once you're logged in, why not leave a review and share your thoughts with the Books community!</p>
</div>

<!-- Book Reviews section-->

{% for book in books %}


<div class="book-container">
  <div class="card">
    <div class="image">
      <img href="#" src="">
    </div>
    <div class="content">
      <h3>{{book.book_title}}</h3>
      <p>{{book.author}}
        {{book.genre}}
        {{book.rating}}
        {{book.book_review}}
        {{book.purchase_link}}
      </p>
    </div>
  </div>
</div>

{% endfor %}

{% endblock %}