    {% extends "base.html" %}
    {% block content %}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for msg in messages %}
            <h1> {{msg}} </h1>
        {% endfor %}
      {%endif %}
    {% endwith %}
      <!-- Login -->
      <div class="login-main-container">
        <div class="login">
          <h1>Login Here</h1>
          <form method="POST" action="{{ url_for('login') }}">
            <p>Your Email</p>
            <input type="text" name="email" placeholder="Enter Email" />
            <p>Password</p>
            <input type="password"
              name="password"
              placeholder="Enter password"/>
            <input type="submit" name="submit" value="Login" />
            <a href="#"> Forgot your password?</a>
            <a href="{{ url_for('register') }}"> Don't have an account? Register Here</a>
          </form>
        </div>
      </div>

      {% endblock %}
